
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 225, 227);
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: unset !important;
    color: unset;
}


/* HEADER */
.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    /* background-color: #ebf5f7; */
    background-color: #ffffff;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
    
    color: #7E3C64;
}

.title-links-box {
    display: flex;
    font-size: .95em;
    align-items: center;
    width: 40%;
}

.left-links {
    justify-content: flex-start;
}

.right-links {
    justify-content: flex-end;
}

.title-links-box a {
    display: flex;
    align-items: center;
    margin: 0 40px;
    /* width: 28%; */
}

.left-links a {
    justify-content: flex-start;
}

.right-links a {
    justify-content: flex-end;
    
}


/* .title-links-box a:hover {
    text-decoration: underline;
} */

.nav-link {
    text-decoration: unset;
}

.nav-link:hover {
    text-decoration: underline !important;
}

.menu-dropdown {
    position: relative;
    width: 100%;
    min-height: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.dropdown-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: absolute; */
    z-index: 1;
}


/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7E3C64 !important;
    color: #ffffff !important;
    font-family: "Inter",sans-serif;
    border: none !important;
    /* position: relative;
    bottom: 0; */
}

.footer a {
    color: #ffffff !important;
}

.footer-body {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.footer-body-divider {
    border-right: 1px solid white;
    height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.foot-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-info-box .info-item {
    margin: 2px 0;
    
}

.footer-logo-img {
    width: 17em;
    margin-top: 15px;
    /* border: solid 1px white; */
    /* padding: 10px; */
}

.react-icons {
    margin: 20px 70px;
    font-size: 50px;
    cursor: pointer;
}

.trustpilot-link {
    font-size: 1.3em;
    margin: 10px 0;
    display: flex;
    align-items: center;
    border: solid 1px white;
    padding: 10px;
}

.trustpilot-link:hover {
    text-decoration: underline !important;
}

.trustpilot-logo {
    color: #00b67a;
    margin-left: 5px;
    font-size: 1.3em;
}

/* BODY */
.landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* color: #0c0d0e; */
    padding: 60px 30px;
    width: 80%;
}

.body-section-arctic {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #87BCC6;
}

.body-text h1, h2, h3, h4 {
    font-weight: normal;
}


.body-free-resource-tiles {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.5em;
}

.body-free-resource-tiles h1 {
    margin: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-tile-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
}

.free-resource-tile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.free-resource-tile img {
    width: 18em;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
}

.home-about-section {
    padding: 3em 0;
}

.home-about-tile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.home-about-tile img {
    width: 24em;
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5); */
}

/* SITE */

.site-img {
    width: 100%;
    object-fit: cover;
    height: 30em;
    object-position: 0% 30%;
}

.site-width-img {
    width: 100%;
    height: 1em;
}

.plum-btn {
    background-color: #7E3C64;
    color: #ffffff;
    border-radius: 22px;
    padding: 10px 40px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.ocean-btn {
    background-color: #00606E;
    /* border: solid 1px #00606E; */
    /* color: #ffffff; */
    /* color: #00606E; */
    color: #ffffff;
    border-radius: 22px;
    padding: 10px 40px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.alt-btn {
    background-color: #ffffff;
    border: solid 1px #00606E;
    /* color: #ffffff; */
    /* color: #00606E; */
    color: rgba(55, 66, 83, 1);
    border-radius: 22px;
    padding: 10px 40px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.plum-btn:hover {
    /* text-decoration: underline !important; */
    /* opacity: 0.85; */
    background-color: #7e3c64e1;
}

.ocean-btn:hover {
    /* text-decoration: underline !important; */
    background-color: #005f6ecc;
    /* #005f6e1f; */
}

.alt-btn:hover {
    /* text-decoration: underline !important; */
    background-color: #ffffffd7;
    /* #005f6e1f; */
}

.carrot-icon {
    margin-left: 7px;
    margin-top: 2px;
}

.gift-icon {
    margin-right: 15px;
    /* margin-bottom: 8px; */
}

.title-img-text-btn-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.title-img-text-btn-container img {
    width: 60%;
    margin: 20px 0;
}

.title-img-text-btn-container div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}